// color variables
$app-primary: #0d236d;
$app-primary-light: #223577;
$app-secondary: #1c518d;
$app-secondary-light: #345d8c;
$app-gray: #e5e7e9;
$app-gray-contrast: #bdc3c7;
$app-white: #fff;
// cart
$cart-primary: #640bca;
$cart-secondary: #7807a1;

// footer
$background-footer: rgb(15, 16, 28)
